<%= form_with(model: [ @estabelecimento, @avaliacao ], local: true) do |form| %>
  <p>
    <%= form.label :internet %><br>
    <%= form.select :internet, Avaliacao.internet.options, { include_blank: true } %>
  </p>
  <p>
    <%= form.label :velocidade_internet %><br>
    <%= form.text_field :velocidade_internet %>
  </p>
  <p>
    <%= form.label :internet_aberta %><br>
    <%= form.select :internet_aberta, Avaliacao.internet_aberta.options, { include_blank: true } %>
  </p>
  <p>
    <%= form.label :senha_internet %><br>
    <%= form.text_field :senha_internet %>
  </p>
  <p>
    <%= form.label :comida %><br>
    <%= form.text_area :comida %>
  </p>
  <p>
    <%= form.label :bebida %><br>
    <%= form.text_area :bebida %>
  </p>
  <p>
    <%= form.label :atendimento %><br>
    <%= form.select :atendimento, options_for_select(1..5, @avaliacao.atendimento), { include_blank: true } %>
  </p>
  <p>
    <%= form.label :preco %><br>
    <%= form.select :preco, options_for_select(1..5, @avaliacao.preco), { include_blank: true } %>
  </p>
  <p>
    <%= form.label :nivel_qualidade %><br>
    <%= form.select :nivel_qualidade, options_for_select(1..5, @avaliacao.nivel_qualidade), { include_blank: true } %>
  </p>
  <p>
    <%= form.label :nivel_ruido %><br>
    <%= form.select :nivel_ruido, options_for_select(1..5, @avaliacao.nivel_ruido), { include_blank: true } %>
  </p>
  <p>
    <%= form.label :avaliacao_geral %><br>
    <%= form.select :avaliacao_geral, options_for_select(1..5, @avaliacao.avaliacao_geral), { include_blank: true } %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
