<h4>Avaliações</h4>

<div class="row">
  <div class="col-md-4">
    <%= form_tag(avaliacoes_path, method: "get", class: "") do %>
      <div class="form-row">
        <div class="form-group col-md-5">
          <%= label_tag :do_tipo, "Tipo" %>
          <%= select_tag "do_tipo", options_for_select(Estabelecimento.tipo.options, params[:do_tipo]), include_blank: true, class: "form-control" %>
        </div>
        <div class="form-group col-md-7">
          <%= label_tag :com_localizacao, "Localização" %>
          <%= text_field_tag "com_localizacao", params[:com_localizacao], class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <%= label_tag :do_estabelecimento, "Estabelecimento" %>
          <%= select_tag "do_estabelecimento", options_from_collection_for_select(Estabelecimento.all.order('nome ASC'), "id", "nome", params[:do_estabelecimento]), include_blank: true, class: "form-control" %>
        </div>
        <div class="form-group col-md-4">
          <%= label_tag :com_preco, "Preço" %>
          <%= select_tag "com_preco", options_for_select(1..5, params[:com_preco]), include_blank: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= label_tag :com_internet, "Tem Internet?" %>
          <%= select_tag "com_internet", options_for_select(Avaliacao.internet.options, params[:com_internet]), { include_blank: true, class: "form-control" } %>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag :com_nota_geral, "Nota" %>
          <%= select_tag "com_nota_geral", options_for_select(1..5, params[:com_nota_geral]), { include_blank: true, class: "form-control " } %>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Filtrar</button>
    <% end %>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Estabelecimento</th>
          <th>Endereço</th>
          <th>Internet?</th>
          <th>Nota Geral</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @avaliacoes %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<%= link_to 'Nova Avaliação', new_avaliacao_path %>

