<p>
  <strong>Nome:</strong>
  <%= @avaliacao.estabelecimento.nome %>
</p>
 
<p>
  <strong>Tipo:</strong>
  <%= @avaliacao.estabelecimento.tipo_text %>
</p>
 
<p>
  <strong>Endereco:</strong>
  <%= endereco_completo(@avaliacao.estabelecimento) %>
</p>
 
<p>
  <strong>Internet?</strong>
  <%= @avaliacao.internet_text %>
</p>

<p>
  <strong>Velocidade Internet</strong>
  <%= @avaliacao.velocidade_internet %>
</p>

<p>
  <strong>Internet Aberta?</strong>
  <%= @avaliacao.internet_aberta_text %>
</p>

<p>
  <strong>Senha Internet</strong>
  <%= @avaliacao.senha_internet %>
</p>

<p>
  <strong>Comida</strong>
  <%= @avaliacao.comida %>
</p>

<p>
  <strong>Bebida</strong>
  <%= @avaliacao.bebida %>
</p>

<p>
  <strong>Atendimento</strong>
  <%= @avaliacao.atendimento %>
</p>

<p>
  <strong>Preço</strong>
  <%= @avaliacao.preco %>
</p>

<p>
  <strong>Nível de Qualidade</strong>
  <%= @avaliacao.nivel_qualidade %>
</p>

<p>
  <strong>Nível de Ruído</strong>
  <%= @avaliacao.nivel_ruido %>
</p>

<p>
  <strong>Avaliação Geral</strong>
  <%= @avaliacao.avaliacao_geral %>
</p>

<p>
  <strong>Atualizado em</strong>
  <%= I18n.l(@avaliacao.updated_at) %>
</p>


<hr>

<% if policy(@avaliacao).edit? %>
  <%= link_to 'Editar', edit_avaliacao_path(@avaliacao) %> |
  <%= link_to 'Excluir', @avaliacao,
               method: :delete,
               data: { confirm: 'Tem certeza?' } %> | 
<% end %>
<%= link_to 'Voltar', avaliacoes_path %>

