<h4>Estabelecimentos</h4>

<br>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estabelecimentos.each do |estabelecimento| %>
      <tr>
        <td><%= estabelecimento.nome %></td>
        <td><%= estabelecimento.tipo %></td>
        <td><%= estabelecimento.endereco %></td>
        <td><%= link_to 'Ver', estabelecimento %></td>
        <td><%= link_to 'Editar', edit_estabelecimento_path(estabelecimento) if policy(Estabelecimento).edit? %></td>
        <td><%= link_to 'Apagar', estabelecimento, method: :delete, data: { confirm: 'Tem certeza?' } if policy(Estabelecimento).edit? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Novo Estabelecimento', new_estabelecimento_path %>
