<p>
  <strong>Nome:</strong>
  <%= @estabelecimento.nome %>
</p>
 
<p>
  <strong>Tipo:</strong>
  <%= @estabelecimento.tipo_text %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= endereco_completo(@estabelecimento) %>
</p>

<h5>Avaliacoes</h5>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Estabelecimento</th>
      <th>Endereço</th>
      <th>Internet?</th>
      <th>Nota Geral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @estabelecimento.avaliacoes %>
  </tbody>
</table>

<hr>

<%= link_to 'Editar', edit_estabelecimento_path(@estabelecimento) if policy(Estabelecimento).edit? %> |
<%= link_to 'Avaliar', new_avaliacao_path(estabelecimento_id: @estabelecimento) if policy(@estabelecimento).pode_avaliar? %> |
<%= link_to 'Voltar', estabelecimentos_path %>
