
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "Tem Wifi?", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Avaliações <span class='sr-only'>(current)</span>".html_safe, avaliacoes_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Estabelecimentos", estabelecimentos_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sobre", sobre_path, class: "nav-link" %>
      </li>

      <% if usuario_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_usuario.name || current_usuario.email %></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to "Minhas Avaliações", minhas_avaliacoes_path, class: "dropdown-item" %>
            <%= link_to("Sair", destroy_usuario_session_path, method: :delete, class: "dropdown-item") %>

          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Entrar", new_session_path(:usuario), class: "nav-link" %>
        </li>
      <% end %>

    </ul>
    <%= form_tag(estabelecimentos_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
      <%= text_field_tag "com_nome", params[:com_nome], placeholder: "Busca Estabelecimento", class: "form-control mr-sm-2" %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    <% end %>

  </div>
</nav>


