<!DOCTYPE html>
<html>
  <head>
    <title>Vibbra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <p><%= link_to t('links.shared.sign_out'), destroy_usuario_session_path, :method => :delete if usuario_signed_in? %></p>
  </body>
</html>
